
.env
/public/assets/
/var/
/vendor/
.web-server-pid
.phpunit
/phpunit.xml
.vscode
build

###> symfony/webpack-encore-pack ###
/node_modules/
/%PUBLIC_DIR%/assets/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-pack ###
.buildpath
.project
.settings